<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Pagina Principal</title>
</head>
<body>
	<!-- 
	<h1>Bienvenidos A Empleos App</h1>
	<h1 th:text="${mensaje}"></h1>
	<h2>Hoy es [[${fecha}]]</h2>
	 -->

	<h1>Bienvenido!</h1>
	<h1>Oferta de Trabajo</h1>
	<h3 th:text="'Titulo: ' + ${nombre}"></h3>
	<h3 th:text="'FechaPub: ' + ${fechaPub}"></h3>
	<h3 th:text="'Salario: ' + ${salario}"></h3>
	<h3 th:text="'Estado:' + ${vigente}"></h3>



</body>
</html>