<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Vacantes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<img th:src="@{/images/logo.png}" width="70" height="70">
<h1 class="text-primary">Lista de Vacantes</h1>

<table class="table table-striped table-hover table-bordered">
    <tr>
        <td>Logo</td>
        <td>Id</td>
        <td>Nombre</td>
        <td>Fecha Publicacion</td>
        <td>Salario Ofrecido</td>
        <td>Descripcion</td>
        <td>Destacada</td>
        <td>Detalle</td>
        <td>Borrar</td>
    </tr>

    <tr th:each="vacante: ${vacantes}">
        <td>
            <img th:src="@{/images/{img}(img=${vacante.imagen})}" width="50" height="50">
        </td>
        <td th:text="${vacante.id}"></td>
        <td th:text="${vacante.nombre}"></td>
        <td th:text="${vacante.fecha}"></td>
        <td th:text="${vacante.salario}"></td>
        <td th:text="${vacante.descripcion}"></td>
        <!--<td th:text="${vacante.destacado}"></td>-->
        <!--<td th:text="${vacante.destacado == 1 ? 'Destacado' : 'No Destacado'}"></td>-->
        <td>
            <span th:if="${vacante.destacado== 1}" class="badge bg-success">Destacado</span>
            <span th:unless="${vacante.destacado== 1}" class="badge bg-danger">No Destacado</span>
        </td>
        <td>
            <a th:href="@{/vacantes/view/{id} (id=${vacante.id})}" class="btn btn-success">Detalle</a>
        </td>
        <td>
            <a th:href="@{/vacantes/delete(id=${vacante.id})}" class="btn btn-danger">Borrar</a>
        </td>

    </tr>

</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>